/*.ui-grid .ui-grid-row {*/
    /*margin-top: 10px;*/
/*}*/

/*.data-container {*/
    /*padding: 50px;*/
/*}*/


tr div.showbyhover {
    display: none!important;
}

tr:hover div.showbyhover {
    display:block!important;
}
a.disableClick{
    pointer-events: none!important;
}

