<p-growl [value]="msgs"></p-growl>
    <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <input #gb type="text" pInputText size="50" placeholder="Global Filter">
    </div>
    <div class="datatable">
        <!--selectionMode="single" [(selection)]="selectedCar"  (onRowSelect)="onRowSelect($event)" [editable]="true" -->

        <p-dataTable [value]="cars"  reorderableColumns="true" [rowHover]="true"
        [paginator]="!oneRowediting" [rowsPerPageOptions]="[5,10,20]" [rows]="10"
                     [responsive]="true" [globalFilter]="gb" #dt [lazy]="false" [totalRecords]="totalRecords" (onLazyLoad)="loadCarsLazy($event)"
        >
            <p-header>List of Cars</p-header>
            <p-column field="vin" header="Vin" [sortable]="!oneRowediting" [filter]="true" filterPlaceholder="Search"  [editable]="true"></p-column>
            <!--header="Year ({{yearFilter||'No Filter'}})"-->
            <p-column field="year" [filter]="true" header="Year" [sortable]="!oneRowediting" filterMatchMode="equals" filterPlaceholder="Search"   [editable]="true">
                <!--<template pTemplate="filter" let-col>-->
                    <!--<i class="fa fa-close" (click)="yearFilter=null;dt.filter(null,col.field,col.filterMatchMode)"></i>-->
                    <!--<p-slider [style]="{'width':'100%','margin-top':'8px'}" [(ngModel)]="yearFilter" [min]="1990" [max]="2020" (onSlideEnd)="dt.filter($event.value,col.field,col.filterMatchMode)"></p-slider>-->
                <!--</template>-->
            </p-column>
            <p-column field="brand" header="Brand" [sortable]="!oneRowediting" [filter]="true" filterPlaceholder="Search"  [editable]="true"  [style]="{'overflow':'visible'}">
                <template let-col let-car="rowData" pTemplate="editor">
                    <p-dropdown [(ngModel)]="car[col.field]" [options]="brands" [autoWidth]="false" [style]="{'width':'100%'}" required="true"></p-dropdown>
                </template>
            </p-column>
            <p-column field="color" header="Color" [sortable]="!oneRowediting" [filter]="true" filterPlaceholder="Search" [editable]="true"></p-column>
            <p-column field="saleDate" header="Sale Date"  sortable="custom" (sortFunction)="datesort($event)"
                      [filter]="true" filterMatchMode="equals" filterPlaceholder="Search" [editable]="true"
                      [style]=" {'overflow':'visible' }">
                <template pTemplate="filter" let-col >
                    <div>
                        <p-calendar [(ngModel)]="dateFilter" dataType="string" dateFormat="dd.mm.yy" (onBlur)=onBlurCalendarInputPrimeng($event,dt,col.field,col.filterMatchMode)
                                    (onSelect)="onSelectCalendarInputPrimeng($event,dt,col.field,col.filterMatchMode)" [style]="{'width':'100%'}" inputStyleClass="ui-column-filter" placeholder="Search">
                        </p-calendar>
                    </div>
                </template>
                <template let-col let-car="rowData" dateFormat="dd.mm.yy" pTemplate="body">
                    {{car[col.field]}}
                </template>
                <template let-col let-car="rowData" pTemplate="editor">
                    <p-calendar [(ngModel)]="car[col.field]" dataType="string"  (onSelect)="onSelectCalendarInputForEditor($event,car,col.field)" dateFormat="dd.mm.yy"
                                readonlyInput="readonlyInput" [style]="{'width':'100%'}" ></p-calendar>
                </template>
            </p-column>
            <p-column header="Operations">
                <template pTemplate="header">
                    <!--<button type="button" pButton icon="fa-refresh"></button>-->
                    <!--<i class="fa fa-cog fa-spin fa-3x fa-fw"></i> -->
                    Operations
                    <span class="sr-only">Loading...</span>
                </template>
                <template let-car="rowData" pTemplate="body">
                    <myhoverdiv #mydiv1 [hidden]="!mydiv1.inEditing" [car]="car" (sendTable1)="selectCar($event.car)"
                                (send1RowEditing)="changeOneRowEditing($event)"
                                [otherRowInEditing]="oneRowediting && !mydiv1.inEditing">
                    </myhoverdiv>
                    <myeditdiv [hidden]="!mydiv1.inEditing" (showHover)="mydiv1.hideEdit()"
                        [car]="car">
                    </myeditdiv>
                 </template>
            </p-column>
            <p-footer><div class="ui-helper-clearfix" style="width:100%"><button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add"></button></div></p-footer>
        </p-dataTable>

        <p-dialog header="Car Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
            <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="car">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4"><label for="vin">Vin</label></div>
                    <div class="ui-grid-col-8"><input pInputText id="vin" [(ngModel)]="car.vin" /></div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4"><label for="brand">Year</label></div>
                    <div class="ui-grid-col-8"><input pInputText id="year" [(ngModel)]="car.year" /></div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4"><label for="brand">Brand</label></div>
                    <div class="ui-grid-col-8"><input pInputText id="brand" [(ngModel)]="car.brand" /></div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4"><label for="color">Color</label></div>
                    <div class="ui-grid-col-8"><input pInputText id="color" [(ngModel)]="car.color" /></div>
                </div>
            </div>
            <footer>
                <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                    <button type="button" pButton icon="fa-close" (click)="delete()" label="Delete"></button>
                    <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
                </div>
            </footer>
        </p-dialog>
    </div>


